*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gayathri', sans-serif;
}

* h2{color: white;}
.white{color: white;}
.container{max-width: 1280px; margin: 0 auto; padding: 0 2%;}
body{height: 100%; background-color: rgb(222, 223, 222);}
header{background-image: linear-gradient(80deg, #14A87E, #2FB315,#1A9C2E);}

header > .container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    width: 40px;
    height: 40px;
    background-image: url('../images/logo.png');
    background-size: cover;
}

nav ul{
    padding-top: 10px;
    position: relative;
    bottom: -20%;
}

nav li{
    display: inline-block;
    
    padding-right: 30px;    
}

nav a, .menu a{
    text-decoration: none;
    color: white;
    font-size: 26px;
}

nav a:hover, .menu a:hover{color: #c0f54e; transition: 0.5s;}

.hide{transition: 1s; height: 0;}
.show{transition: 1s; height: 80px;}
.show2{transition: 1s; height: 160px;}

.menu ul{list-style-type: none;}
.menu li{padding-left: 30px;}
.menu li:hover{background-color: rgba(0, 0, 0, 0.349);}
.menu a{line-height: 40px;}

.cont1{
    float: left;
    position: relative;
    top: 0px;
    left: 825px;
    background-color: #2FB315;
    width: 205px;
    overflow: hidden;
}

.cont2{
    float: right;
    position: relative;
    top: 0px;
    right: 271px;
    background-color: #2FB315;
    width: 190px;
    overflow: hidden;
}

.call{
    width: 100%;
    height: 500px;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    text-align: center;
    
}

.intro{text-align: center;}

.intro h2{
    padding: 30px 0 20px 0;
    font-size: 34px;
    text-shadow: 0 0 2px black;
    background-color: #1A9C2E;
}

.intro p{margin: 60px 0 10px 0; text-align: justify;}

.smaller{max-width: 1000px;}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
}

.card{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 380px;
    background-color: rgb(45, 75, 44);
    margin: 30px 0;
    border-radius: 10px;
    overflow: hidden;
}

.card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #70cf8185;
    clip-path: polygon(0% 30%, 100% 70%, 50% 100%, 0% 80%);
    transition: 0.5s ease-in-out;
}

.card:hover:before{
    clip-path: polygon(0% 0%, 100% 70%, 50% 100%, 0% 80%);
}

.card-img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 100%;
    height: 250px;
    transition: 0.5s;
}

.card:hover .card-img{
    top: 2%;
    transform: translateY(2%);
}

.card-img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.cont-box{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    transition: 1s;
    opacity: 0;
}

.card:hover .cont-box{
    height: 95px;
    opacity: 1;
}

.cont-box h2{
    text-shadow: 0 0 3px black;
}

.cont-box p{color: white;}

.cont-box a{
    padding: 3px 7px 0 7px;
    text-decoration: none;
    background-color: rgb(230, 67, 99);
    color: white;
    border-radius: 4px;
}

section.about{margin-top: 30px; text-align: center;}
.board{
    margin-top: 20px;
}

.board h2{
    padding: 30px 0 20px 0;
    text-shadow: 0 0 2px black;
    background-color: #1A9C2E;
    font-size: 34px;
}

.staff{
    padding: 30px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    justify-content: center;
}

.staff img{
    border-radius: 50%;
    cursor: pointer;
}

.selected{ 
    border: 4px solid #13691E;
    box-shadow: 0 0 0 3px #14A87E;
}

.bio{padding: 30px 0 50px 0;}

.bio h3{
    margin-bottom: 20px;
    font-size: 26px;
    color: #c77014;
    font-style: italic;
}

.bio p{
    text-align: justify;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 40px;
}

section.local{text-align: center;}

section.local h2{
    font-size: 34px;
    padding: 30px 0 15px 0;
    background-color: #1A9C2E;
}

.map{
    width: 100%;
    height: 500px;
    margin: 0 auto;
}



.footgrid{
    background-image: linear-gradient(80deg, #14A87E, #2FB315,#1A9C2E);
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    justify-content: center;
    padding: 20px 0;
}

.half1 h3{margin-bottom: 10px;}

.close{
    display: flex;
    justify-content: space-between;
    padding: 15px 120px 5px 120px;
    background-color: #13691E;
}


